{% extends 'base.html' %}
{% block content %}
    <div>
        <h2>{{ post.title }}</h2>
        <p>{{ post.rubric.name }}</p>
        <p> {{ post.content }}</p>
        <a href="/bboard/{{ rubric.pk }}">{{ rubric.name }}</a>
        <p> {{ post.price }} руб.</p>
        <p> {{ post.published|date:"d.m.Y" }}</p>
        <p>Автор: <a href="{% url 'profile_view' post.user.pk %}">{{ post.user }}</a></p>
        {% if user.is_authenticated %}
            {% if user == post.user %}
                <p><a href="{% url 'delete' post.pk %}">Удалить</a></p>
                <p><a href="{% url 'edit' post.pk %}">Изменить</a></p>
            {% endif %}
        {% endif %}
    </div>

    <div>

    {% with comments.count as total_comments %}
            <h3>Отклики {{ total_comments }} </h3>

    {% endwith %}
    {% for comm in comments  %}
        <p>Пользователь: <a href="{% url 'profile_view' comm.user.pk %}">{{ comm.user }}</a></p>
        <p>Текст: {{ comm.text }}</p>
        <br>

    {% endfor %}

    </div>

            <div class="contact-single">
                <h3 class="editContent" style="outline: none; cursor: inherit;">Откликнуться</h3>
                <form action="{% url 'add_response' post.pk %}" method="post" class="mt-4">
                    {% csrf_token %}
                    <div class="form-group editContent">
                        <label for="contactcomment" class="editContent">
                            Ваш комментарий *
                        </label>
                        <textarea class="form-control border" rows="5" name="text"
                                  id="contactcomment" required=""></textarea>
                    </div>

                    <button type="submit"
                            class="mt-3 btn btn-success btn-block py-3">
                        Отправить
                    </button>
                </form>
            </div>



{% endblock %}