{% extends 'base.html' %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите название</label><br>
            <input type="text" name="title" value="{{post.title}}" />
        </p>
        <p>
            <label>Введите описание</label><br>
            <input type="text" name="content" value="{{post.content}}" />
        </p>
        <p>
            <label>Введите рубрику</label><br>
            <input type="text" name="rubric" value="{{post.rubric.name}}" />
        </p>

        <input type="submit" value="Сохранить" >
    </form>
{% endblock %}