<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=10">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="content-wrapper">
        <header class="header">
            <a href="{%  url 'index' %}"><p style="font-size: 30px; margin: 0; padding: 10px 1em;">Маркетплейс для учеников Бама</p></a>
        </header>

        <div class="container clearfix">

            <main class="content">
                {% block content %}
                {% endblock %}
            </main>

            <aside class="sidebar sidebar1">
                <a href="{%  url 'index' %}" style="color: red">Главная</a>
                {% if user.is_authenticated %}
                    <a href="{%  url 'add' %}" style="color: green">Создать</a>

                {% endif %}

                {% for rubric in rubrics %}
                    <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
                {% endfor %}
            </aside>

            <aside class="sidebar sidebar2">
                <p><a href="{%  url 'my_posts' %}" style="color: green">{{ user.username }}</a></p>
                <!--<p>{{ user.username }}</p>-->
                {% if user.is_authenticated %}

                    <p><a href="{% url 'logout' %}">Выход</a></p>
                    <p><a href="{% url 'admin:index' %}">Админка</a> </p>
                {% else %}
                    <p>Вы не зарегистрированны</p>
                    <a href="{% url 'login' %}">Вход</a>
                    <a href="{% url 'signup' %}">Регистрация</a>
                {% endif %}
                <p style="color: red">Кол-во записей в каждой рубрике</p>
                {% for bb in cpbr %}
                    <p>{{ bb.name }}: {{ bb.bb__count }}</p>

                {% endfor %}

                <p style="color: red">Стоймость заказов</p>
                {% for bb in minpbr %}
                    <p>В {{ bb.name }} от {{ bb.min }} руб.</p>
                {% endfor %}
            </aside>

        </div>

        <footer class="footer">
            <p style="font-size: 30px; margin: 0; padding: 10px 1em;">Footer</p>
        </footer>
    </div>
</body>
</html>
